body {
    text-align: center;
    margin: 20px;
}

.new-todo {
    border: 0.1px solid black;
    border-radius: 0;
    font-size: 16px;
    padding: 5px 10px;
    width: 300px;
    height: 30px;
}

.new-todo:focus {
    border: 0.1px solid black;
    border-radius: 0;
}

#add-btn {
    margin: 15px;
    border: 0.5px solid black;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 16px;
    color: tomato;
    font-weight:700;
    background-color: white;
}